body {
  background-color: #ccffff;
}
h1 {
  border-style: none;
  color: #ff0a07;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  font-family: Arial,Helvetica,sans-serif;
  font-style: normal;
  text-transform: none;
}
input {
  padding: 10px;
  font-size: 26px;
}
#status_text {
  font-family: Arial,Helvetica,sans-serif;
  font-weight: bold;
  color: #000066;
}
.inputClass {
  border-style: none;
  border-width: 42px;
  line-height: 17%;
  margin-top: 8px;
  margin-bottom: 8px;
}
.loginClass {
  font-family: "Times New Roman";
  font-size: 30px;
  text-align: center;
}
.button {
  border-style: solid;
  border-color: #ffcc00 #ffcc00 #9f9f9f;
  border-width: 1px;
  padding: 14px;
  color: #08233e;
  font-size: 70%;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  cursor: pointer;
}
.buttonClass {
  border: 1px solid #83c41a;
  background-color: #9dce2c;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  text-indent: 0;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  height: 65px;
  line-height: 65px;
  width: 131px;
  text-decoration: none;
  text-align: center;
  text-shadow: #689324 1px 1px 0px;
}

.buttonClass:active {
  position: relative;
  top: 1px;
}

:disabled{
    background-color: #A4A4A4;
}



.textinputClass {
    background: white;
    border: 1px solid #dcff82;
    border-radius: 5px;
    box-shadow: 0 0 5px 3px #d5ff63;
    color: #666;
    outline: none;
    height:23px;
    width: 275px;
}


